<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{current_user.avatar_url}}" class="img-circle" alt="{{current_user.getName()}}">
      </div>
      <div class="pull-left info">
        <p>{{current_user.getName()}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active">
        <a [routerLink]="['dashboard']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a>
          <i class="fa fa-files-o"></i> <span>Features</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a [routerLink]="['page1']"><i class="fa fa-circle-o"></i> Page 1</a></li>
          <li routerLinkActive="active"><a [routerLink]="['page2']"><i class="fa fa-circle-o"></i> Page 2</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
