<div class="wrapper">
  <app-header>Header</app-header>

  <menu-aside>Menu Aside</menu-aside>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="main-footer">
    <strong>Copyright &copy; 2016 <a href="http://www.airc.pt">AIRC</a>.</strong> All rights reserved.
  </footer>
</div>
