<div class="login-box">
  <div class="login-logo">
    <a>SNC-AP</a>
  </div>
  <div class="login-box-body">
    <p-messages [value]="msgs"></p-messages>
    <p class="login-box-msg">Iniciar sessão</p>

    <form class="form-signin" (submit)="login($event, username.value, password.value)">
      <div class="form-group has-feedback">
        <input #username name="user" type="text" class="form-control" placeholder="Utilizador">
      </div>
      <div class="form-group has-feedback">
        <input #password name="password" type="password" class="form-control" placeholder="Palavra-passe">
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
