<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{current_user.avatar_url}}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{current_user.getName()}}</span>
      </a>
      <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
          <img src="{{current_user.avatar_url}}" class="img-circle" alt="User Image">

          <p>
            {{current_user.getName()}} - Web Developer
            <small>Member since Nov. 2012</small>
          </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
          <div class="pull-right">
            <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
